.TextBox{
 height: 80%;
}
.InputBox{
    height: 8%;
}
.chatContent {
    overflow: hidden;
    overflow-y: auto
}

.you {
    color: green;
}
.stranger{
    color: red;
}

.client{

}

.server{

}
.msgContainer {
    width: 100%;
    margin: 0;
    word-wrap: break-word;
}
.msg {
    float: left;
}
.messagePrefix{
    float: left;
    font-weight: bold;
}
.myTextInput{
    color: white;
}