<div class="page">
  <nav class="navbar navbar-expand-lg navigationBar">
    <a class="navbar-brand" href="#" style="color: white;">SharpChat</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <section class="container-fuild">
    <div class="row m-0">
      <div class="col d-none d-md-block"></div>
      <app-main-page class="col-12 col-md-10 px-0"></app-main-page>
      <div class="col d-none d-md-block"></div>
    </div>
    <div class="row m-0">
      <footer class="col-12 col-md-10">@2020</footer>
    </div>
  </section>
</div>