.navigationBar {
  background-color: #739900 !important;
  color: white !important;
  border-bottom: 1px solid #1c1c1c;
}
.page {
  font-family: 'Lato', sans-serif !important;
  color: white !important;
}

a.myButton {
display: inline-block;
padding: 0.46em 1.6em;
margin:0 0.2em 0.2em 0;
box-sizing: border-box;
text-decoration:none;
font-weight:300;
color:#FFFFFF;
text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
background-color:#739900 !important;
text-align:center;
transition: all 0.15s;
}
a.myButton:hover {
text-shadow: 0 0 2em rgba(255,255,255,1);
}
.content{
  background-color: #404040 !important;
  height: 100vh;
}

  