<section class="mainPage content">
    <header class="text-center w-100 py-2 h3">{{entranceMessage}}</header>
    <form>
        <div class="Info row">
            <app-user-info class="userInfo col-12 col-md-6 pr-5"></app-user-info>
            <app-stranger-info class="userInfo col-12 col-md-6 pl-5"></app-stranger-info>
            <div class="StrangerInfo col-12 text-center">
                <a href="chat" class="myButton my-5">Wejdź do Czatu</a>
            </div>
        </div>
    </form>
</section>
